@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f0f4ff;
}

#root {
  width: 100%;
  max-width: 100%;
  text-align: left;
}
